*
{
margin:0;
padding:0;
}
body,
html
{
width:100%;
height:100%;
font-size:96%;
font-family:"arial", verdana, geneva;
}

h1,h2,h3
{
}

ul li
{
position:relative;
}
ul li:hover
{
}
ul li:nth-last-child(1){
clear:right;
}

ul li sup
{
position:absolute;
right:-2px;
top:0px;
background-color:#555555;
color:#dddddd;
}

a
{
color:#232323;
text-decoration:none;
}
a:hover
{
color:#343434;
text-decoration:underline;
}

.clr
{
clear:both;
}



div#maincontainer
{
width:98%;
max-width:960px;
margin:0px auto;
}

div#feedboard
{
}
div#sidebar
{
display:none;
}
div#topbar .option
{
display:block;
float:left;
padding:4px 6px;
margin:1px 2px 1px 0px;
list-style-type:none;
background-color:#cccccc;
color:#000000;
}
div#navbar,
div#loaderbox,
div#contentbar
{
width:100%;
}
div#bottombar
{
}


ul#groupmenu li,
ul#groupchannelbox li
{
float:left;
list-style-type:none;
}


ul#groupmenu
{
clear:both;
}
ul#groupmenu li
{

background-color:#000000;
color:#ffffff;
}
li#currentgroup
{
text-decoration:underline;
}
ul#groupchannelbox
{
margin:2px 0px;
clear:both;
}
ul#groupchannelbox li
{
background-color:#dddddd;
}
ul#groupchannelbox li sup,
ul#groupchannelbox li.nonactive sup
{
display:none;
}
ul#groupchannelbox li.active sup
{
display:inline;
}

div#activeselectbox div h4
{
clear:both;
}
div#activeselectbox div ul li
{
float:left;
padding:4px 6px;
margin:1px 2px 1px 0px;
list-style-type:none;
background-color:#cccccc;
color:#000000;
}
div#activeselectbox div ul li:hover,
ul#groupchannelbox li.active:hover
{
text-decoration:line-through;
}

div#loaderbox
{
width:100%;
text-align:center;
display:none;
}
div#loaderbox.hidden {
display:none;
}
div#loaderbox.active {
display:block;
}

ul#feedbundle li.bundle-item,
ul#feedbundle li.no-display
{
margin:4px 0px 8px;
padding:2px 4px;
clear:both;
list-style-type:none;
}
ul#feedbundle li.bundle-item h3
{
font-size:1.28em;
}
ul#feedbundle li.bundle-item h4
{
font-weight:normal;
font-size:0.7em;
color:#990000;
}
ul#feedbundle li.bundle-item div.itemtextbox
{
padding:4px 0px;
font-size:0.9em;
text-align:left;
}
ul#feedbundle li.bundle-item div.itemtextbox img
{
float:left;
margin-right:12px;
width:36%;
height:auto;
vertical-align:text-top;
}


/**** bigger ****/
@media screen and (min-width: 760px) {
body,
html
{
font-size:100%;
}

div#feedboard
{
padding:2% 2%;
}
div#topbar
{
}
div#sidebar
{
display:block;
float:right;
width:26%;
}
div#navbar,
div#loaderbox,
div#contentbar
{
float:left;
width:70%;
}
div#bottombar
{
}

ul#feedbundle li.bundle-item,
ul#feedbundle li.no-display
{
margin:4px 0px 28px;
}
ul#feedbundle li.bundle-item div.itemtextbox
{
padding:10px 0px;
font-size:0.9em;
}


div#activeselectbox div ul li
{
float:none;
display:block;
padding:2px 4px;
}

}

}
