*
{
margin:0;
padding:0;
}
body,
html
{
width:100%;
height:100%;
font-size:1em;
font-family:"arial", verdana, geneva;
}

body .fullview
{
font-size:110%;
}


h1,h2,h3
{
}

ul li
{
position:relative;
}
ul li:hover
{
}

a
{
color:#232323;
text-decoration:none;
}
a:hover
{
color:#343434;
text-decoration:underline;
}

.clr
{
clear:both;
}



/********************************************** GLOBAL ****************************************/
div#maincontainer
{
width:100%;
margin:0px auto;
}

div#feedboard
{
}
div#topbar .option
{
display:block;
list-style-type:none;
}
div#navbar
{
}
div#loaderbox,
div#contentbar
{
}

div#loaderbox
{
width:100%;
text-align:center;
}
div#loaderbox.hidden {
display:none;
}
div#loaderbox.active {
display:block;
}



ul#feedbundle li
{
clear:both;
}
ul#feedbundle li.bundle-item,
ul#feedbundle li.no-display
{
list-style-type:none;
}
ul#feedbundle li.no-display
{
clear:both;
}
div#sidebar
{
}
div#bottombar
{
}



/************************************** GROUP CHANNEL MENU ****************************************/


ul#groupmenu li,
ul#groupchannelbox li,
#activeselectbox ul li
{
display: inline-block;
padding:2px 3px;
margin:2px;
}
li#currentgroup
{
text-decoration:underline;
}

#navbar ul li span,
#activeselectbox ul li span
{
position:absolute;
right:0px;
top:0px;
background-color:#555555;
color:#dddddd;
padding:0px 2px;
}


ul#groupchannelbox li
{
}

ul#groupchannelbox li span,
ul#groupchannelbox li.nonactive span
{
display:none;
}
ul#groupchannelbox li.active span
{
display:inline;
padding:2px 2px;
}
ul#groupchannelbox li.active:hover
{
background-color: #CCCCCC;
}

ul#groupchannelbox li.loading
{
background-image: repeating-linear-gradient(145deg, #454545, #454545 2px, #232323 2px, #232323 4px);
}


/************************************* ACTIVE MENU ****************************************/
div#activeselectbox div ul li
{
background-color: #CCCCCC;
}
div#activeselectbox div ul li:hover
{
background-color: #ffffff;
}


/********************************************** CONTENT ****************************************/
ul#feedbundle
{
}
ul#feedbundle li.bundle-item
{
display:block;
width:100%;
}
ul#feedbundle li.bundle-item div.itemtextbox img,
ul#feedbundle li.bundle-item div.itemtextbox img:nth-child(1)
{
display:block;
width:40% !important;
height:auto;
float:left;
margin-right:12px;
vertical-align:text-top;
}

/********************************************** RESPONSIVE ****************************************/
@media screen and (min-width: 760px) {

ul#feedbundle
{
}

ul#feedbundle li.bundle-item
{
}

.fullview ul#feedbundle li.bundle-item
{
}


ul#feedbundle li.bundle-item div.itemtextbox img
{
}

ul#feedbundle li.bundle-item div.itemtextbox img:nth-child(1)
{
}

}
